{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
  <h1>About Me</h1>
  <p>
    My name is Obed Kani and I am an undergraduate student studying computer science at Kwame Nkurumah University of Science and Technology in Kumasi, Ghana.
  </p>
  <p>
    I am a passionate individual with a great love for IT and computers. I possess excellent analytical and systematic thinking skills which enable me to provide effective solutions to various problems.
  </p>
  <p>
    My technical expertise includes embedded software development using Embedded C/C++ and Python, circuit and PCB design using KiCAD, working with 8-bit/32-bit microcontrollers such as Arduino (AVR), ESP8266, ESP32, STM32, and single board computers like Raspberry Pi. Additionally, I have experience in web development using HTML, CSS, Python Flask, and MySQL, and I am familiar with machine learning tools such as TensorFlow, OpenCV, and Sklearn.
  </p>
  <p>
    I have been involved in several activities during my academic career, such as teaching programming with Arduino to university students in the 2022 IoT meetup program organized with Kumasi Technical University, and participating in the Civic Education Club Quiz and National Science and Math Quiz in 2020. I am also interested in IoT, web development, AI, music, and cooking.
  </p>
  <p>
    For more information about my technical expertise and experience, please refer to my resume or contact me directly through the contact information provided on this page.
  </p>
{% endblock %}
