{% extends 'base.html' %}

{% block title %}Skills - Obed Kani{% endblock %}

{% block content %}
  <h1>Skills</h1>
  <ul>
    <li>Embedded software development using Embedded C/C++ & Python</li>
    <li>Circuit & PCB design using KiCAD</li>
    <li>Programming 8-bit/32-bit Microcontrollers: Arduino (AVR), ESP8266, ESP32, STM32</li>
    <li>Working with Single Board Computers: Raspberry Pi</li>
    <li>Web development using HTML, CSS, Python Flask, and MySQL</li>
    <li>Machine learning using TensorFlow, OpenCV, and Sklearn</li>
    <li>Technical writing and visual documentation</li>
    <li>Version control using Git</li>
  </ul>
{% endblock %}
